@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 2rem auto;
  width: 90%;
  max-width: 1280px;
}

.container h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  margin-bottom: 1rem;
}
